# Ignore OSX temp files
*.DS_STORE

# Ignore NodeJS relative stuff
node_modules/
npm-debug.log
package-lock.json

# Ignore WebStorm relative stuff
.idea/*

# Ignore pictures content
public/contents/**/*